<section>
    <h1>Found on</h1>
    {% if site.github_user %}
    <a href="https://github.com/{{site.github_user}}/" rel="tooltip" title="Github">
        <i class="github"></i>
    </a>
    {% endif %}

    {% if site.stackoverflow_user %}
    <a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/" rel="tooltip" title="Stack Overflow">
        <i class="stack_overflow"></i>
    </a>
    {% endif %}

    {% if site.linkedin_user %}
    <a href="http://www.linkedin.com/in/{{site.linkedin_user}}" rel="tooltip" title="Linkedin">
        <i class="linked_in"></i>
    </a>
    {% endif %}

    {% if site.twitter_user %}
    <a href="http://twitter.com/{{site.twitter_user}}" rel="tooltip" title="Twitter"><img class="social_icon"
                                                                                          title="Twitter"
                                                                                          alt="Twitter icon"
                                                                                          src="{{ root_url }}/images/glyphicons_391_twitter_t.png"></a>
    {% endif %}

    {% if site.googleplus_user %}
    <a href="https://plus.google.com/{{site.googleplus_user}}?rel=author" rel="tooltip" title="Google Plus">
        <i class="google_plus"></i>
    </a>
    {% endif %}

    {% if site.quora_user %}
    <a href="http://www.quora.com/{{site.quora_user}}" rel="tooltip" title="Quora"><img class="social_icon"
                                                                                        title="Quora" alt="Quora icon"
                                                                                        src="{{ root_url }}/images/glyphicons_385_quora.png"></a>
    {% endif %}

    {% if site.email %}
    <h2>contact at</h2>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    {% endif %}
</section>